---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import DrainTests from '../../../../../images/info-drain-tests.jpg';
import DrainSurveys from '../../../../../images/info-drain-surveys.jpg';

interface Props {
	location: string;
	locationSlug: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`CCTV Drain Surveys in ${location}`} image={DrainSurveys}>
	<p>
		A CCTV survey can be used to assess damage to pipework by root ingress, pipes blocked by debris
		and silt, or pipe joint displacement and collapsed drains.
	</p>
	<p>
		A survey and drain test can be carried out on new or existing drainage runs in {location}
		to ensure they comply with building regulations.
	</p>
	<p>
		Surveys are <strong>commonly performed prior to a property purchase</strong> to give the buyer a
		full understanding of the property's drainage system, and to check for any potential drainage problems
		such as leaking or damaged pipework.
	</p>
</ServiceInfoCard>

<ServiceInfoCard title={`Drain Tests in ${location}`} image={DrainTests} imagePosition="left">
	<p>
		The Building Regulations state that 'any drain or private sewer shall, on completion of the
		works including backfilling, be capable of withstanding a test for water tightness'.
	</p>
	<p>
		In order for any new development work in {location} to be signed off by a building inspector either
		a water or air drain test will need to performed and passed in their presence.
		<strong>We are able to offer assistance in all or any aspect of this procedure</strong>.
	</p>
	<p>
		In addition to a full testing and advisory service we also offer drain tracking services using
		drain dyes, sondes and camera survey equipment.
	</p>
</ServiceInfoCard>
