---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<p class="lead">
	If you are a resident of {location} or its surrounding areas, you can get in touch with us at EVO Plumbing
	and Heating to resolve the issue of blocked pipes and clogged drains.
</p>

<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<p>We are available twenty-four hours a day and seven days a week!</p>

<h2 class="h4">We are your trusted {location} blocked drain expert</h2>
<p>
	As blocked drain cleaning specialists in {location}, we come forward as your trusted source of
	help to get rid of this unpleasant situation. Our strength lies in our empathetic attitude towards
	our clients, making us capable of understanding their plight and the need for an effective
	solution.
</p>
<p>
	As soon as we get your request, our team of experienced blocked drain specialists in {location}
	reach your home to attend to your needs. Our engineers and technicians undertake a thorough investigation
	of the problem and come up with effective solutions in no time. We are prompt, professional, and extremely
	efficient at our job
</p>
