---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import BlockedToilets from '../../../../../images/info-blocked-toilets.jpg';
import BlockedSinks from '../../../../../images/info-blocked-sinks.jpg';
import BlockedDrains from '../../../../../images/info-blocked-drains.jpg';

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard
	title={`Blocked Drains in ${location} require immediate attention`}
	image={BlockedDrains}
>
	<p>
		Drains and underground pipes often get clogged when tree roots grow inside them and block the
		flow of water. It can be a real nuisance for homeowners as it can cause corrosion, slow water
		drainage, flooding and in extreme cases, lead to sewage backup and expensive repairs.
	</p>
	<p>
		Although most homeowners take preventive actions, they don't work always. The key is to be aware
		of various objects that clog drains and call for a blocked drain expert in {location}
		to get rid of the issue. Who could be a better choice than us in this regard?
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`Blocked Toilets in ${location} homes`}
	image={BlockedToilets}
	imagePosition="left"
>
	<p>
		Bathroom drain gets blocked when skin flakes, dirt and hair bind to soap and shampoo scum on the
		internal walls of drainage pipes. The accumulation of this gunk in the outlet reduces the flow
		of water. The result: water backs up into the sink or shower area.
	</p>
	<p>
		This is when we step in. Our experts will be there at your beck and call to diagnose the issue
		and clear out your drains at the earliest. Thanks to our specialised arsenal comprising both
		manual and mechanised tools that let us do so.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`Blocked Sinks in ${location} homes call for experts' opinion`}
	image={BlockedSinks}
>
	<p>
		Food items, cooking grease and detergent soap scum, are common causes behind the blockage of
		drains in kitchens. If you are facing such a situation, call our {location}
		engineers to resolve this issue.
	</p>
	<p>
		We do our job without causing any disruption to your daily life. At the same time, we ensure
		that the solution we offer suits your pocket, and you can avoid expensive repairs and
		replacements.
	</p>
</ServiceInfoCard>
