---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import DrainRepairs from '../../../../../images/info-drain-repairs.jpg';
import DrainRelining from '../../../../../images/info-drain-relining.jpg';
import Excavations from '../../../../../images/info-excavations.jpg';

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`Drain Repairs in ${location}`} image={DrainRepairs}>
	<p>
		If you have experienced a drainage problem such as a blocked or leaking drain it is possible
		there could be an underlying problem.
	</p>
	<p>
		All types of drainage run have the potential to deteriorate over a period of time. With salt
		glaze clay constructed drains for example, joins become eroded causing open joins leading to
		blockages and leakage. Pitch fibre drains can lose their round structure and become flattened
		which also lead to blockages.
	</p>
	<p>
		<strong> Any drainage issue need to be resolved quickly before the situation escalates.</strong>
	</p>
	<p>
		When it comes to your dealing with your drainage system in {location} we have the skills, tools and
		experience to correct the issue quickly.
	</p>
</ServiceInfoCard>

<ServiceInfoCard title={`Drain Relining in ${location}`} image={DrainRelining} imagePosition="left">
	<p>
		If the situation allows, drain relining will most probably be the quickest and most cost
		effective way to resolve any drainage run issues.
	</p>
	<p>
		Drain relining and patch repairs are no dig technologies that are ideal to resolve drainage
		problems such as cracked or damaged pipes, or drain runs with eroded and open connections.
	</p>
	<p>
		We commonly reline pipes with diameters of 100mm upwards. Lengths of drainage up to and beyond
		30 metres can be relined quickly and unobtrusively with a single liner. The reline sleeve is
		inserted into the defective drain run, inflated using air inversion, then moulded to the
		contours of the existing defective pipe creating a smooth drain interior.
	</p>
	<p>
		<strong>
			A properly relined drain should provide years and years of trouble free drainage.</strong
		>
	</p>
</ServiceInfoCard>

<ServiceInfoCard title={`Excavations in ${location}`} image={Excavations}>
	<p>
		Drain relining is usually the quickest and least obtrusive way to resolve many drainage issues.
		However, there are times when relining is not possible and drain excavation will be necessary.
		For example, if the actual drainage structure is very badly damaged or the repair is in an
		inaccessible area then it is likey a drain excavation will be necessary.
	</p>
	<p>
		Our engineers are experienced in all aspects of drainage excavation work. Each excavation
		carried out in and around {location} is planned meticulously to ensure the correct tools and materials
		are at hand so the job is completed quickly and without any fuss and minimum disruption.
	</p>
	<p>
		Every excavation we carry out, whether it be a small job such as pipework or gulley and chamber
		replacement, or larger jobs such as sewage treatment plant and soakaway installations are <strong
			>completed to the highest standards ensuring least disruption as possible</strong
		> for our customers.
	</p>
</ServiceInfoCard>
