---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import BlockedToilets from '../../../../../images/info-blocked-toilets.jpg';
import BlockedSinks from '../../../../../images/info-blocked-sinks.jpg';
import BlockedDrains from '../../../../../images/info-blocked-drains.jpg';

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`Blocked Drains in ${location}`} image={BlockedDrains}>
	<p>
		Hair, soap, food materials, dirt, toilet-paper buildup, mineral buildup, tree roots and small
		objects are common causes of drain blockages in homes. You will see that water doesn't drain
		out; instead, it flows back into the sink or bathtub because of the presence of these objects in
		the outlet.
	</p>
	<p>
		To avoid such a situation from occurring, get in touch with our expert engineers as soon as you
		see these signs. Our blocked drain specialist in {location} will be there to save your bacon.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`Blocked Toilets in ${location}`}
	image={BlockedToilets}
	imagePosition="left"
>
	<p>
		Unattended clogged drains in toilets can lead to irreparable structural damage, proving a major
		blow to your home's overall value. What's worse is the stench that emanates out of your toilet
		owing to the bacterial infestation in the drainage area. It can be a real mess!
	</p>
	<p>
		Our {location} team of expert blocked drain cleaning specialists know the job like the back of their
		hand. They are quick in identifying the blockage and provide prompt solutions to prevent future damage.
		Our professional and timely drainage investigation and clearance services make us a trustworthy team
		for homes in and around v.
	</p>
</ServiceInfoCard>

<ServiceInfoCard title={`Blocked Sinks in ${location}`} image={BlockedSinks}>
	<p>
		Have you noticed water pooling in the sink of your bathroom or kitchen? Our team of blocked
		drain cleaning specialists in {location} can get to the depths of the issue and take appropriate
		measures to purge your pipework. Our services have been invaluable in {location}
		homes, giving homeowners the much-needed peace of mind in such sticky situations.
	</p>
</ServiceInfoCard>
