---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import DrainTests from '../../../../../images/info-drain-tests.jpg';
import DrainSurveys from '../../../../../images/info-drain-surveys.jpg';

interface Props {
	location: string;
	locationSlug: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`When to consider CCTV Drain Surveys in ${location}`} image={DrainSurveys}>
	<p>
		Home buyers request our CCTV drain survey as part of their property inspection prior to making
		the purchase decision. Home sellers also contact us to assess the condition of their drains and
		fix issues that gain prospects' confidence.
	</p>
	<p>
		Sometimes, a drain survey may be necessitated when a home is affected by frequent blockages or
		require urgent drain unblocking. A CCTV survey is the easiest and quickest way to pinpoint the
		exact causes so an appropriate course of action can be pursued without delay.
	</p>
	<p>
		EVO's {location} engineers can perform a look-see survey to determine the root of the drainage issue.
		We can also provide recordings and reports for property inspection and new development work.
	</p>
	<p>
		As we also offer drain unblocking services, we can fix the problem where possible, or suggest a
		suitable solution, such as when the pipework is damaged and needs to replacing. Our vans are
		equipped with all the tools of the trade, including a variety of hand tools, mechanical
		equipment and specialist equipment to break down and flush out stubborn blockage.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`Drain Tests in ${location} to Identify Leaks or meet Building Regulation`}
	image={DrainTests}
	imagePosition="left"
>
	<p>
		Air tests or water tests are a reality that building companies are aware of and must conduct
		prior to starting on development work. EVO is a trusted provider of air tests and water tests
		employed to test the drainage system, spot leaks and confirm if the drain and soil stack are
		safe to use.
	</p>
	<p>
		Both tests have different procedures that our engineers perform in the presence of the building
		supervisor. We are able to offer comprehensive assistance in all aspects of these tests.
	</p>
	<p>
		If your property is located in proximity to a public sewer and you're planning to build an
		extension such as a second garage, you will find our drain tracing service useful. Learn about
		the exact location and depth of the drains on your property to receive planning permission and
		avoid expensive mistakes once construction has begun.
	</p>
</ServiceInfoCard>
