---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import DrainTests from '../../../../../images/info-drain-tests.jpg';
import DrainSurveys from '../../../../../images/info-drain-surveys.jpg';

interface Props {
	location: string;
	locationSlug: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`CCTV Drain Surveys in ${location}`} image={DrainSurveys}>
	<p>
		A CCTV survey will allow us to inspect your drainage system to discover what problems exist and
		how they can be rectified. A CCTV camera survey can be used to locate a whole range of problems
		such as <strong>root ingress, broken joins, blockages, cracks or lime-scale</strong>, and
		consequently determine the best method to repair the drainage system
	</p>
	<p>
		After A CCTV survey we will report any problems back to whoever instructed the survey, and a
		quotation for any repairs if required.
	</p>
	<p>
		A survey and drain test can be carried out on any modified or new installations in {location}
		to ensure they <strong>comply with building regulations</strong>.
	</p>
</ServiceInfoCard>

<ServiceInfoCard title={`Drain Tests in ${location}`} image={DrainTests} imagePosition="left">
	<p>
		We are able to perform both air and water drain tests in and around {location}. We have vast
		experience of performing these tests for clients in the presence of a building inspector to
		ensure any new or modified drainage run is <strong>building regulations compliant</strong>.
	</p>
	<p>
		We also offer a drain tracking or drain tracing service using various drain dyes, sondes, and
		CCTV camera survey equipment.
	</p>
</ServiceInfoCard>
