---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<p class="lead">
	One of the many issues that homeowners in {location} face is blocked drains and clogged pipes.
</p>

<p>
	Resolving the issue all by yourself isn't a feasible option always. You need a professional
	blocked drain specialist in {location} who knows the job well.
</p>

<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<p>
	We are available to homeowners in {location} and surrounding areas, all around the clock.
</p>

<h2 class="h4">Top-rated blocked drain clearance service provider in {location}</h2>
<p>Residents of {location} choose us because we are:</p>
<ul>
	<li>
		<p>
			<strong>Experienced</strong> - Our team of engineers and technicians have years of experience in
			the field and know different aspects of drain clearance like the back of their hands.
		</p>
	</li>
	<li>
		<p>
			<strong>Prompt</strong> - Whether it's a non-urgent issue or an emergency repair, our team is always
			ready to serve you. We are available 24x7, making us one of the fastest service providers in {
				location
			}.
		</p>
	</li>
	<li>
		<p>
			<strong>Affordable</strong> - Fixing blocked drains can be an expensive affair, but our services
			are designed to suit your pocket perfectly. We charge standard rates for most clearance services
			in {location}.
		</p>
	</li>
</ul>
