---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import BlockedToilets from '../../../../../images/info-blocked-toilets.jpg';
import BlockedSinks from '../../../../../images/info-blocked-sinks.jpg';
import BlockedDrains from '../../../../../images/info-blocked-drains.jpg';

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`Blocked Drains in ${location} causing a problem?`} image={BlockedDrains}>
	<p>
		Drain blockages are commonly caused by hair, cooking grease, foreign objects, debris and
		toiletries. Sometimes, strong tree roots can penetrate into the sides of pipes, causing a
		blockage. The pipework may sustain damage and need to be replaced. Our {location}
		engineers can perform a CCTV survey to diagnose if structural damage or pipework is to blame.
	</p>
	<p>
		When you're staring at a blocked toilet, pick up your phone and call our emergency helpline
		number. We will handle your case on a priority basis, unclogging your toilet and flushing
		through the drains to prevent the problem from recurring.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`Quick solutions to blocked toilets in ${location}`}
	image={BlockedToilets}
	imagePosition="left"
>
	<p>
		A blocked toilet is an unpleasant affair and best resolved on an urgent basis even if your home
		has more than one toilet. We have dealt with all manner of toilet blockages in {location}
		homes, and know which specialist tools can unclog your toilet in the quickest possible time.
	</p>
	<p>
		Our specialist toolkit enables us to clear out blocked toilets completely. We also flush through
		the drains to prevent the problem from surfacing again.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`Blocked Sinks in ${location} call for professional workmanship`}
	image={BlockedSinks}
>
	<p>
		If water is draining slowly from your kitchen sink or bathroom basin, your regular household
		work can come to a standstill. An overflowing bath, on the other hand, poses a safety hazard,
		particularly if you have a single washroom that is used by kids and/or senior family members.
	</p>
	<p>
		At the first instance of spotting a basin or bath blockage, have our {location}
		engineers inspect the problem. Either a manual unblock will clear the pipework or more extensive
		effort using specialist tools may be needed. Rest assured our team will solve the problem accurately
		and efficiently, helping you return to your daily routine quickly.
	</p>
</ServiceInfoCard>
