---
import Card from './Card.astro';
import BlockedDrains from '../images/bg-blocked-drains.jpg';
import CctvDrainSurveys from '../images/bg-cctv-drain-surveys.jpg';
import DrainRepairs from '../images/bg-drain-repairs.jpg';
import Soakaways from '../images/bg-soakaways.jpg';
import GutterCleaning from '../images/bg-gutter-cleaning.jpg';
import Section from './Section.astro';

interface Props {
	county?: string;
	countySlug?: string;
}

const currentPath = Astro.url.pathname;
const { county, countySlug = '' } = Astro.props;
---

<Section>
	<h2 class="sr-only">Our services</h2>
	<div class="wrapper">
		<Card
			image={BlockedDrains}
			title="Blocked Drains"
			href={`/blocked-drains${countySlug && `/${countySlug}`}`}
			linkText="Blocked Drains"
		>
			<p>
				Drain blockages can and will occur at the most inconvenient times. We are available <strong
					>24 hours, 7 days a week</strong
				> across {countySlug} to deal with your problem quickly and with minimum disruption.
			</p>
		</Card>

		<Card
			image={CctvDrainSurveys}
			title="CCTV Drain Surveys"
			href={`/cctv-drain-surveys${countySlug && `/${countySlug}`}`}
			linkText="CCTV Drain Surveys"
		>
			<p>
				A CCTV camera survey is the <strong>quickest, easiest, and least destructive</strong> way to
				establish the cause and location of any drainage problem that is causing blockages.
			</p>
		</Card>

		<Card
			image={DrainRepairs}
			title="Drain Repairs"
			href={`/drain-repairs${countySlug && `/${countySlug}`}`}
			linkText="Drain Repairs"
		>
			<p>
				Broken or poorly functioning drains are hazardous and can lead to wider problems. If you
				suspect your drains are damaged it is important to <strong>act fast</strong>.
			</p>
		</Card>

		<Card
			image={Soakaways}
			title="Soakaways and Septic Tanks"
			href={`/soakaways-septic-tanks${countySlug && `/${countySlug}`}`}
			linkText="Soakaways and Septic Tanks"
		>
			<p>
				We are able to offer <strong>specialist advice</strong> on construction, repair and maintenance
				of soakaways, septic tanks and sewage treatment plants.
			</p>
		</Card>

		<Card
			image={GutterCleaning}
			title="Gutter Cleaning"
			href={`/gutter-cleaning${countySlug && `/${countySlug}`}`}
			linkText="Gutter Cleaning"
		>
			<p>
				Gutter cleaning is an <strong>essential part of property maintenance</strong>. Over time,
				guttering can become blocked by leaves and branch debris; obstructing the flow of water and
				preventing effective drainage.
			</p>
		</Card>
	</div>
</Section>

<style lang="scss">
	section {
		padding: var(--scale-32-64) 0;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: var(--scale-32-64);

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}
	}
</style>
