---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import DrainTests from '../../../../../images/info-drain-tests.jpg';
import DrainSurveys from '../../../../../images/info-drain-surveys.jpg';

interface Props {
	location: string;
	locationSlug: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`Expert CCTV Drain Surveys in ${location}`} image={DrainSurveys}>
	<p>
		Our engineers have assisted several prospective home buyers, property managers and building
		surveyors assess drainage problems, such as whether the pipework is damaged or leaking, the
		drain has collapsed or it has been incorrectly installed, to name some.
	</p>
	<p>
		We use the latest CCTV equipment to reach into inaccessible areas of your drainage system,
		capturing footage and sharing them in DVD form, along with a report. Alternatively, we can
		conduct a look-see survey to give you a heads-up on existing and potential problems with the
		drainage system at your property.
	</p>
</ServiceInfoCard>

<ServiceInfoCard title={`Drain Tests in ${location}`} image={DrainTests} imagePosition="left">
	<p>
		Building companies are required by law to pass a test determining the safety and effectiveness
		of the drainage system at the property. The air test is performed to declare the drainage and
		soil pipe satisfactory. A water test is another way to confirm if the drain and soil stack are
		safe to use.
	</p>
	<p>
		An air test requires the ends of the soil stack to capped of at both ends using a bung. Water
		testing, which is used to test the entire drainage systems, including chambers and gullies,
		requires a more involved effort.
	</p>
	<p>
		Our {location} engineers are well-versed with both tests and can offer comprehensive assistance is
		helping you understand the water tightness of newly laid drains and sewers.
	</p>
	<p>
		We can also be of assistance if you want to know the exact depth and location of the drains at a
		property. Our drain tracing service is useful in locating drains when you're planning to build
		an extension to your home, particularly if you are constructing close to a public sewer or a
		public lateral drain.
	</p>
	<p>
		Discuss your requirements with us so we can guide you correctly on whether a CCTV drain survey
		or drain tracing is more suitable.
	</p>
</ServiceInfoCard>
