---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<p>
	If you are a homeowner in {location} and facing a sticky situation because of clogged drains and pipes,
	you need a blocked drain clearance service provider like EVO Drainage Services.
</p>

<h3 class="h4 coloured-text">
	Call can contact us on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<p>
	We are 24x7 available to homeowners in {location} and its surrounding areas.
</p>

<h2 class="h4">Choose us as your trusted blocked drain specialist in {location}</h2>
<p>As a blocked drain clearance service provider, we are known for the following:</p>
<ul>
	<li>
		<p>
			<strong>End-to-end investigation</strong> - Our team in {location} conducts an extensive CCTV survey
			of your plumbing and drainage system and go to the roots of the blockage.
		</p>
	</li>
	<li>
		<p>
			<strong>Skilled and prompt resolution</strong> - Our team of experts know how to operate different
			drain cleaning tools, which enable us to serve {location}'s homeowners so promptly.
		</p>
	</li>
	<li>
		<p>
			<strong>Affordable services</strong> - We ensure that our services don't involve expensive replacements,
			making us one of the most pocket-friendly service providers in {location}.
		</p>
	</li>
</ul>
