---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import BlockedToilets from '../../../../../images/info-blocked-toilets.jpg';
import BlockedSinks from '../../../../../images/info-blocked-sinks.jpg';
import BlockedDrains from '../../../../../images/info-blocked-drains.jpg';

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard
	title={`Unattended blocked drains in homes in ${location} can be hazardous`}
	image={BlockedDrains}
>
	<p>
		Drain blockages mostly occur within the areas of your bathroom, toilet, kitchen and external
		plumbing. The first sign of a drain blockage is seen by the accumulation of wastewater in these
		areas. If water stands in these areas for a long time, disease-causing bacteria start
		proliferating, making your household's space unhygienic for living.
	</p>
	<p>
		Relax, we are there to help you. Just give us a call, and our v engineers will be there at your
		residence to unclog the most stubborn drain blockages.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`Stuck with a blocked toilet in ${location}`}
	image={BlockedToilets}
	imagePosition="left"
>
	<p>Here are a few signs to look out for before you call a blocked drain specialist:</p>
	<ul>
		<li>Dirty water backing up from the outlet of a bathroom or kitchen sink.</li>
		<li>Water starts to pool around the drain in the shower area of your bathroom.</li>
		<li>
			The water drains with a gurgling sound, especially when you operate a washing machine or
			dishwasher.
		</li>
		<li>Bad odour emanating from the kitchen sink.</li>
	</ul>
	<p>
		Whenever you see the above signs, get in touch with our team of engineers and technicians
		immediately. We have sophisticated and advanced investigation and cleaning tools to clear out
		the mess safely and flawlessly.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title={`You need an expert to purge blocked sinks in ${location}`}
	image={BlockedSinks}
>
	<p>
		Sinks in kitchens and bathrooms get blocked when non-dissolvable items like food waste, hair,
		and toiletry products get stuck in the outlet. Such blockages can cause water to pool back into
		the sink and release a foul stench.
	</p>
	<p>
		Let our expert blocked drain specialist in {location} help you resolve the issue. As soon as we get
		your request, we disperse our team in no time to your {location}
		residence so that restorative measures can be taken at the earliest.
	</p>
</ServiceInfoCard>
